{% extends 'base.html' %} {% block content %}

<h1>Cat Collector</h1>
<hr />

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati quasi
dignissimos maiores repudiandae voluptatum! Nihil cumque expedita reprehenderit
omnis provident accusamus soluta nostrum sunt rerum, nisi fuga! Iste, corrupti
Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus incidunt
repudiandae quod nihil ipsam dolores, molestias quaerat vel hic rerum quis
maxime officiis possimus facere quos quidem soluta dicta ex eum sequi non unde?
Obcaecati dignissimos similique quaerat minus, mollitia vel dolores vero eos,
cupiditate earum cumque neque repudiandae esse. molestias. {% endblock %}
